{% extends "base_generic.html" %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}

<div style="margin-left:38%">

<div style="position relative;margin-left:15px;margin-right:15px;margin-top:5%;">
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form style="position relative;margin-left:15px;margin-right:15px;" method="post" action="{% url 'login' %}">
    <h2 style="margin-left:45%">Login</h2>
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
      </tr>
      <tr>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
      </tr>
      <tr>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <div style="margin-top:50px;">
    <input type="submit" value="Login" class="btn btn-primary">
    <input type="hidden" name="next" value="{{ next }}">
    </div>
  </form>
  </br>
  </br>
  <div style="position relative;margin-left:15px;margin-right:15px;">
  <p>Not registered yet? Register now</p>
  </div>
  <div style="position relative;margin-left:15px;margin-right:15px;">
  <a href="{% url "register" %}" class="btn btn-primary">Register</a>
  </div>
</div>

</div>

{% endblock %}
