/* Page 4 */

position: relative;
width: 19262px;
height: 14806px;

background: #FFFFFF;


/* Rectangle 3 */

position: absolute;
width: 19262px;
height: 2442px;
left: calc(50% - 19262px/2 - 9px);
top: -41px;

background: #EAE2E2;
border-radius: 55px;


/* Rectangle 4 */

position: absolute;
width: 4397px;
height: 3060px;
left: 0px;
top: 2442px;

background: url(Berlin-Hintergrund-Skysuiten-Berlin);


/* Rectangle 5 */

position: absolute;
width: 4397px;
height: 3060px;
left: 4397px;
top: 2447px;

background: url(VIDEO_histoire_tour_Eiffel);


/* Rectangle 6 */

position: absolute;
width: 4397px;
height: 3060px;
left: 0px;
top: 5507px;

background: url(5e89ad90-8f10-11e8-b6b0-0242ac110007);


/* Rectangle 7 */

position: absolute;
width: 4397px;
height: 3060px;
left: 4397px;
top: 5507px;

background: url(45393438-f9cd-4500-8995-d811d7655c30);


/* Screenshot 2023-10-11 173333 1 */

position: absolute;
width: 10468px;
height: 6110px;
left: 8794px;
top: 2447px;

background: url(Screenshot 2023-10-11 173333.png);


/* Rectangle 8 */

position: absolute;
width: 19230px;
height: 1184px;
left: 0px;
top: 13595px;

background: #FDF9F9;


/* Rectangle 10 */

position: absolute;
width: 1395px;
height: 1445px;
left: 98px;
top: 171px;

background: url(GeoGuessr_Globe.png);


/* github-logo 1 */

position: absolute;
width: 535px;
height: 535px;
left: 9347px;
top: 13808px;

background: url(github-logo.png);


/* png-transparent-login-computer-icons-password-login-black-symbol-subscription-business-model-thumbnail 1 */

position: absolute;
width: 952px;
height: 966px;
left: 17648px;
top: 478px;

background: url(png-transparent-login-computer-icons-password-login-black-symbol-subscription-business-model-thumbnail.png);


/* Line 3 */

position: absolute;
width: 174.41px;
height: 0px;
left: 6550px;
top: 1451px;

border: 1px solid #000000;
transform: rotate(3.95deg);


/* Copyright gueoguesser */

position: absolute;
width: 5417.27px;
height: 700.21px;
left: 365px;
top: 14016.74px;

font-family: 'Calistoga';
font-style: normal;
font-weight: 400;
font-size: 200px;
line-height: 260px;

color: #000000;

transform: rotate(-0.5deg);


/* Login */

position: absolute;
width: 1180.43px;
height: 501.08px;
left: 17685px;
top: 1496.47px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 400px;
line-height: 484px;

color: #000000;

transform: rotate(-0.41deg);


/* Frame 4 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 295px 877px;
gap: 10px;

position: absolute;
width: 3060px;
height: 839px;
left: 3967.51px;
top: 649px;

/* neige */
background: #E5BDBD;
border-radius: 500px;


/* menu */

width: 1498px;
height: 630px;

font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 500px;
line-height: 630px;
/* identical to box height */
letter-spacing: 0.04em;
text-transform: uppercase;

/* rouge */
color: #F50000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 5 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 295px 877px;
gap: 10px;

position: absolute;
width: 3140px;
height: 905px;
left: 7223.51px;
top: 635px;

/* neige */
background: #E5BDBD;
border-radius: 500px;


/* Startgame */

width: 3098px;
height: 630px;

font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 500px;
line-height: 630px;
/* identical to box height */
letter-spacing: 0.04em;
text-transform: uppercase;

/* rouge */
color: #F50000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 6 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 295px 877px;
gap: 10px;

position: absolute;
width: 4499.32px;
height: 919.51px;
left: 10942.93px;
top: 614px;

/* neige */
background: #E5BDBD;
border-radius: 500px;
transform: rotate(0.34deg);


/* Lederboard */

width: 3478px;
height: 630px;

font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 500px;
line-height: 630px;
/* identical to box height */
letter-spacing: 0.04em;
text-transform: uppercase;

/* rouge */
color: #F50000;

transform: rotate(-0.03deg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;