.page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.page .div {
  background-color: #ffffff;
  width: 19262px;
  height: 12895px;
  position: relative;
}

.page .overlap-group {
  position: absolute;
  width: 19262px;
  height: 2442px;
  top: 0;
  left: 0;
  background-image: url(./img/rectangle-3.svg);
  background-size: 100% 100%;
}

.page .rectangle {
  position: absolute;
  width: 1395px;
  height: 1445px;
  top: 447px;
  left: 0;
  object-fit: cover;
}

.page .frame {
  width: 3060px;
  height: 922px;
  padding: 437px 877px 295px;
  top: 894px;
  left: 3874px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  background-color: var(--neige);
  border-radius: 500px;
}

.page .menu {
  position: relative;
  width: fit-content;
  margin-top: -221px;
  margin-bottom: -219px;
  margin-left: -96px;
  margin-right: -96px;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--rouge);
  font-size: 500px;
  letter-spacing: 20px;
  line-height: normal;
}

.page .startgame-wrapper {
  width: 3140px;
  height: 833px;
  padding: 295px 877px;
  top: 983px;
  left: 7658px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  background-color: var(--neige);
  border-radius: 500px;
}

.page .startgame {
  position: relative;
  width: fit-content;
  margin-top: -194.5px;
  margin-bottom: -192.5px;
  margin-left: -856px;
  margin-right: -856px;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--rouge);
  font-size: 500px;
  letter-spacing: 20px;
  line-height: normal;
}

.page .lederboard-wrapper {
  width: 4499px;
  height: 920px;
  padding: 295px 877px;
  top: 907px;
  left: 11525px;
  transform: rotate(0.34deg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  background-color: var(--neige);
  border-radius: 500px;
}

.page .lederboard {
  position: relative;
  width: fit-content;
  margin-top: -151.25px;
  margin-bottom: -149.25px;
  margin-left: -366.34px;
  margin-right: -366.34px;
  transform: rotate(-0.37deg);
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--rouge);
  font-size: 500px;
  letter-spacing: 20px;
  line-height: normal;
}

.page .png-transparent {
  position: absolute;
  width: 952px;
  height: 966px;
  top: 631px;
  left: 17923px;
  object-fit: cover;
}

.page .text-wrapper {
  position: absolute;
  width: 1195px;
  top: 1646px;
  left: 17925px;
  transform: rotate(-0.42deg);
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 400px;
  letter-spacing: 0;
  line-height: normal;
}

.page .overlap {
  position: absolute;
  width: 6287px;
  height: 2949px;
  top: 2559px;
  left: 6487px;
  background-color: #fafafa;
  border: 50px solid;
  border-color: #000000;
}

.page .ellipse {
  position: absolute;
  width: 1569px;
  height: 1330px;
  top: 828px;
  left: 2309px;
  object-fit: cover;
}

.page .in-the-captivating {
  position: absolute;
  width: 8454px;
  top: 6446px;
  left: 5403px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Adamina-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 200px;
  letter-spacing: 16px;
  line-height: normal;
}
