.page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.page .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 19410px;
  height: 14806px;
  position: relative;
}

.page .overlap {
  position: absolute;
  width: 19410px;
  height: 2274px;
  top: 0;
  left: 0;
}

.page .text-wrapper {
  position: absolute;
  width: 1195px;
  top: 1756px;
  left: 18040px;
  transform: rotate(-0.42deg);
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 400px;
  letter-spacing: 0;
  line-height: normal;
}

.page .rectangle {
  position: absolute;
  width: 19410px;
  height: 2254px;
  top: 0;
  left: 0;
}

.page .png-transparent {
  position: absolute;
  width: 964px;
  height: 991px;
  top: 627px;
  left: 17075px;
  object-fit: cover;
}

.page .img {
  position: absolute;
  width: 1308px;
  height: 1482px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.page .text-wrapper-2 {
  width: 1195px;
  top: 1735px;
  left: 17076px;
  transform: rotate(-0.42deg);
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 400px;
  letter-spacing: 0;
  position: absolute;
  line-height: normal;
}

.page .frame {
  width: 3060px;
  height: 873px;
  padding: 437px 877px 295px;
  top: 706px;
  left: 3158px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  background-color: var(--neige);
  border-radius: 500px;
}

.page .menu {
  position: relative;
  width: fit-content;
  margin-top: -245.5px;
  margin-bottom: -243.5px;
  margin-left: -96px;
  margin-right: -96px;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--rouge);
  font-size: 500px;
  letter-spacing: 20px;
  line-height: normal;
}

.page .startgame-wrapper {
  width: 3140px;
  height: 833px;
  padding: 295px 877px;
  top: 785px;
  left: 6916px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  background-color: var(--neige);
  border-radius: 500px;
}

.page .startgame {
  position: relative;
  width: fit-content;
  margin-top: -194.5px;
  margin-bottom: -192.5px;
  margin-left: -856px;
  margin-right: -856px;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--rouge);
  font-size: 500px;
  letter-spacing: 20px;
  line-height: normal;
}

.page .lederboard-wrapper {
  width: 4499px;
  height: 920px;
  padding: 295px 877px;
  top: 727px;
  left: 10756px;
  transform: rotate(0.34deg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  background-color: var(--neige);
  border-radius: 500px;
}

.page .lederboard {
  position: relative;
  width: fit-content;
  margin-top: -151.25px;
  margin-bottom: -149.25px;
  margin-left: -366.34px;
  margin-right: -366.34px;
  transform: rotate(-0.37deg);
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--rouge);
  font-size: 500px;
  letter-spacing: 20px;
  line-height: normal;
}

.page .overlap-group {
  position: absolute;
  width: 10103px;
  height: 9237px;
  top: 3245px;
  left: 5573px;
}

.page .rectangle-2 {
  position: absolute;
  width: 10103px;
  height: 7298px;
  top: 901px;
  left: 0;
  background-color: #c6cacd;
  border-radius: 900px;
}

.page .ellipse {
  position: absolute;
  width: 2435px;
  height: 2371px;
  top: 0;
  left: 3746px;
}

.page .rectangle-3 {
  position: absolute;
  width: 8138px;
  height: 1273px;
  top: 3277px;
  left: 894px;
  background-color: #19384a;
}

.page .rectangle-4 {
  position: absolute;
  width: 8138px;
  height: 1273px;
  top: 4932px;
  left: 900px;
  background-color: #19394a;
}

.page .rectangle-5 {
  position: absolute;
  width: 1211px;
  height: 1273px;
  top: 3277px;
  left: 894px;
  background-blend-mode: darken;
  object-fit: cover;
}

.page .rectangle-6 {
  position: absolute;
  width: 1211px;
  height: 1273px;
  top: 4932px;
  left: 844px;
  object-fit: cover;
}

.page .email-ID {
  position: absolute;
  width: 3383px;
  top: 3913px;
  left: 2070px;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: #fbf7f7;
  font-size: 500px;
  letter-spacing: 40px;
  line-height: normal;
}

.page .password {
  position: absolute;
  width: 3383px;
  top: 5459px;
  left: 1965px;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: #fbf7f7;
  font-size: 500px;
  letter-spacing: 40px;
  line-height: normal;
}

.page .rectangle-7 {
  position: absolute;
  width: 9566px;
  height: 1339px;
  top: 7898px;
  left: 237px;
}

.page .login {
  width: 2246px;
  top: 8190px;
  left: 1479px;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: #f8f1f1;
  font-size: 500px;
  letter-spacing: 40px;
  position: absolute;
  line-height: normal;
}

.page .register {
  position: absolute;
  width: 3176px;
  top: 8190px;
  left: 5384px;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: #f8f1f1;
  font-size: 500px;
  letter-spacing: 40px;
  line-height: normal;
}

.page .overlap-2 {
  position: absolute;
  width: 19410px;
  height: 1339px;
  top: 13622px;
  left: 0;
}

.page .rectangle-8 {
  position: absolute;
  width: 19410px;
  height: 1184px;
  top: 0;
  left: 0;
  background-color: #fcf8f8;
}

.page .github-logo {
  position: absolute;
  width: 535px;
  height: 535px;
  top: 487px;
  left: 9705px;
  object-fit: cover;
}

.page .text-wrapper-3 {
  position: absolute;
  width: 5417px;
  top: 615px;
  left: 159px;
  transform: rotate(-0.5deg);
  font-family: "Calistoga-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 200px;
  letter-spacing: 0;
  line-height: normal;
}
