/* Page 3 */

position: relative;
width: 19262px;
height: 12895px;

background: #FFFFFF;


/* Rectangle 3 */

position: absolute;
width: 19262px;
height: 2442px;
left: calc(50% - 19262px/2);
top: 2px;

background: #EAE2E2;
border-radius: 55px;


/* Rectangle 10 */

position: absolute;
width: 1395px;
height: 1445px;
left: 0px;
top: 0px;

background: url(GeoGuessr_Globe.png);


/* Rectangle 8 */

position: absolute;
width: 19230px;
height: 1184px;
left: 0px;
top: 11711px;

background: #FDF9F9;


/* Copyright gueoguesser */

position: absolute;
width: 5417.27px;
height: 700.21px;
left: 173px;
top: 12350.74px;

font-family: 'Calistoga';
font-style: normal;
font-weight: 400;
font-size: 200px;
line-height: 260px;

color: #000000;

transform: rotate(-0.5deg);


/* github-logo 1 */

position: absolute;
width: 535px;
height: 535px;
left: 9023px;
top: 11998px;

background: url(github-logo.png);


/* Submit your details */

position: absolute;
width: 7156px;
height: 727px;
left: 6342px;
top: 2822px;

font-family: 'Adamina';
font-style: normal;
font-weight: 400;
font-size: 500px;
line-height: 681px;
letter-spacing: 0.08em;
text-transform: uppercase;

color: #000000;



/* Rectangle 22 */

position: absolute;
width: 7375px;
height: 784px;
left: 6517px;
top: 4248px;

background: #D9D9D9;
border-radius: 1000px;


/* Rectangle 23 */

position: absolute;
width: 7375px;
height: 808px;
left: 6517px;
top: 5645px;

background: #D9D9D9;
border-radius: 1000px;


/* Rectangle 24 */

position: absolute;
width: 7375px;
height: 808px;
left: 6517px;
top: 7200px;

background: #D9D9D9;
border-radius: 1000px;


/* Name */

position: absolute;
width: 3140px;
height: 369px;
left: 6780px;
top: 3549px;

font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 500px;
line-height: 630px;
letter-spacing: 0.08em;
text-transform: uppercase;

color: #000000;



/* Email */

position: absolute;
width: 3339px;
height: 612px;
left: 6658px;
top: 4985px;

font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 500px;
line-height: 630px;
letter-spacing: 0.08em;
text-transform: uppercase;

color: #000000;



/* Password */

position: absolute;
width: 3140px;
height: 369px;
left: 6602px;
top: 6501px;

font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 500px;
line-height: 630px;
letter-spacing: 0.08em;
text-transform: uppercase;

color: #000000;



/* Rectangle 26 */

position: absolute;
width: 3178px;
height: 825px;
left: 6819px;
top: 8513px;

background: #D9D9D9;


/* submit */

position: absolute;
width: 3140px;
height: 369px;
left: 7453px;
top: 8621px;

font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 500px;
line-height: 630px;
letter-spacing: 0.08em;
text-transform: uppercase;

color: #000000;



/* Frame 7 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 437px 877px 295px;
gap: 10px;

position: absolute;
width: 3060px;
height: 922px;
left: 3541.51px;
top: 715px;

/* neige */
background: #E5BDBD;
border-radius: 500px;


/* menu */

width: 1498px;
height: 630px;

font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 500px;
line-height: 630px;
/* identical to box height */
letter-spacing: 0.04em;
text-transform: uppercase;

/* rouge */
color: #F50000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 5 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 295px 877px;
gap: 10px;

position: absolute;
width: 3140px;
height: 905px;
left: 6856.51px;
top: 723px;

/* neige */
background: #E5BDBD;
border-radius: 500px;


/* Startgame */

width: 3098px;
height: 630px;

font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 500px;
line-height: 630px;
/* identical to box height */
letter-spacing: 0.04em;
text-transform: uppercase;

/* rouge */
color: #F50000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 6 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 295px 877px;
gap: 10px;

position: absolute;
width: 4499.32px;
height: 919.51px;
left: 10396.93px;
top: 723px;

/* neige */
background: #E5BDBD;
border-radius: 500px;
transform: rotate(0.34deg);


/* Lederboard */

width: 3478px;
height: 630px;

font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 500px;
line-height: 630px;
/* identical to box height */
letter-spacing: 0.04em;
text-transform: uppercase;

/* rouge */
color: #F50000;

transform: rotate(-0.03deg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* png-transparent-login-computer-icons-password-login-black-symbol-subscription-business-model-thumbnail 1 */

position: absolute;
width: 952px;
height: 966px;
left: 17421.51px;
top: 662px;

background: url(png-transparent-login-computer-icons-password-login-black-symbol-subscription-business-model-thumbnail.png);


/* Login */

position: absolute;
width: 1195.49px;
height: 513.74px;
left: 17297.51px;
top: 1677.68px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 400px;
line-height: 484px;

color: #000000;

transform: matrix(1, -0.01, 0.01, 1, 0, 0);