{% extends "base_generic.html" %}
{% block title %}
<title>Gamepage</title>
{% endblock %}
{% block content%}
<section class="block-img py-5">
    <div class="container">
        <div class="row">
        <div class="col-md-6 col-sm">
            <div class="first-img   mb-3">
                {% load static %}
                <a href="{% static picture1 %}" target="_blank">
                <img src="{% static picture1 %}" alt=""  style="max-width: 50%;">
                </a>

            </div>
            <div class="first-img   mb-3">
                {% load static %}
                <a href="{% static picture2 %}" target="_blank">
                <img src="{% static picture2 %}" alt=""  style="max-width: 50%;">
                </a>

            </div>

            
            <div class="first-img   mb-3">
                {% load static %}
                <a href="{% static picture3 %}" target="_blank">
                <img src="{% static picture3 %}" alt=""  style="max-width: 50%;">
                </a>

            </div>
            <div class="first-img   mb-3">
                {% load static %}
                <a href="{% static picture4 %}" target="_blank">
                <img src="{% static picture4 %}" alt=""  style="max-width: 50%;">
                </a>

            </div>
        </div>
        <div class="col-md-6 col-sm">
            <div class="first-img   mb-3">
                {{ map | safe }}

            </div>

        </div>
        </div>
    </div>
</section>
{% endblock %}