{% extends "base_generic.html" %}

{% block content%}
<section class="block-img py-5">
    <div class="container">
        <div class="row">
        <div class="col-md-6 col-sm">
            <div class="first-img   mb-3">
                {% load static %}
                <img src="{% static picture1 %}" alt=""  style="max-width: 50%;">

            </div>
            <div class="first-img   mb-3">
                {% load static %}
                <img src="{% static picture2 %}" alt=""  style="max-width: 50%;">

            </div>

            
            <div class="first-img   mb-3">
                {% load static %}
                <img src="{% static picture3 %}" alt=""  style="max-width: 50%;">

            </div>
            <div class="first-img   mb-3">
                {% load static %}
                <img src="{% static picture4 %}" alt=""  style="max-width: 50%;">

            </div>
        </div>
        <div class="col-md-6 col-sm">
            <div class="first-img   mb-3">
                {{ map | safe }}

            </div>

        </div>
        </div>
    </div>
</section>
{% endblock %}