{% extends "base_generic.html" %}

{% block content%}
<section class="block-img py-5">
    <div class="container">
        <div class="row">
        <div class="col-md-6 col-sm">
            <div class="first-img   mb-3">
                {% load static %}
                <img src="{% static 'placeholder.png' %}" alt=""  style="max-width: 50%;">

            </div>
            <div class="first-img   mb-3">
                {% load static %}
                <img src="{% static 'placeholder.png' %}" alt=""  style="max-width: 50%;">

            </div>

            
            <div class="first-img   mb-3">
                {% load static %}
                <img src="{% static 'placeholder.png' %}" alt=""  style="max-width: 50%;">

            </div>
            <div class="first-img   mb-3">
                {% load static %}
                <img src="{% static 'placeholder.png' %}" alt=""  style="max-width: 50%;">

            </div>
        </div>
        <div class="col-md-6 col-sm">
            <div class="first-img   mb-3">
                {% load static %}
                <img src="{% static 'map_placeholder.jpg' %}" alt=""  style="max-width: 100%; width: 1000px;">

            </div>

        </div>
        </div>
    </div>
    <div style="margin-left:47%;margin-right:47%">
        <form action={% url "GETgamestart" request.user.id %} method="GET">
            <button type="submit" class="btn btn-primary">Start Round</button>
        </form>
    </div>
    <div style="margin-bottom:50px">

</section>
{% endblock %}

