{% extends "base_generic.html" %}
{% block title %}
<title>Gamepage</title>
{% endblock %}
{% block content%}
<section class="block-img py-5">
        <div style="width:100%;display:flex;margin-left:3%">
            <div style="width:50%;height:100%;display:flex">
                <div style="width:50%">
                    <div style="width:100%;height:45%">
                        {% load static %}
                        <img src="{% static 'image_Eiffel.jpeg' %}" alt="" style="width:100%;height:100%;object-fit:fill">
                    </div>
                    <div style="width:100%;height:45%">
                        {% load static %}
                        <img src="{% static 'img-berlin.jpg' %}" alt="" style="width:100%;height:100%;object-fit:fill">
                    </div>
                </div>
                <div style="width:50%">
                    <div style="width:100%;height:45%">
                        {% load static %}
                        <img src="{% static 'img-rome.webp' %}" alt="" style="width:100%;height:100%;object-fit:fill">
                    </div>
                    <div style="width:100%;height:45%">
                        {% load static %}
                        <img src="{% static 'img-venice.png' %}" alt="" style="width:100%;height:100%;object-fit:fill">
                    </div>
                </div>
            </div>
            <div style="width:45%;height:100%;display:flex;">
                 {% load static %}
                 <img src="{% static 'map_placeholder.jpg' %}" style="width:100%;height:100%;object-fit:fill">
            </div>
        </div>
        <div style="margin-left:13%">
            <form action={% url "GETgamestart" request.user.id %} method="GET">
                <button type="submit" class="btn btn-primary">Start Round</button>
            </form>
        </div>
</section>
{% endblock %}

