{% extends "base_generic.html" %}

{% block content%}
<div style="margin-left:25px;margin-right:25px;">
    <div class="container-fluid">
        <div class="row">
            <div class="colNopadding">
                <div class="row ml-0 mr-0">
                    <div class="colNopadding" align="center">
                        {% load static %}
                <img src="{% static 'placeholder.png' %}" height="250px" width="463.25px">
                    </div>
                    <div class="colNopadding" align="center">
                        {% load static %}
                <img src="{% static 'placeholder.png' %}" height="250px" width="463.25px">
                    </div>
                </div>
                <div class="row ml-0 mr-0">
                    <div class="colNopadding" align="center">
                        {% load static %}
                <img src="{% static 'placeholder.png' %}" height="250px" width="463.25px">
                    </div>
                    <div class="colNopadding" align="center">
                        {% load static %}
                <img src="{% static 'placeholder.png' %}" height="250px" width="463.25px">
                    </div>
                </div>
            </div>
            <div class="colNopadding" align="right">
                {% load static %}
                <img src="{% static 'map_placeholder.jpg' %}" height="500px" width="926.5px">
            </div>
        </div>
    </div>
    <form action={% url "gamepage" request request.user.id %} method="POST">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}