{% extends "base_generic.html" %}

{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col">

        </div>
        <div class="col" align="center">
            {% load static %}
                <img src="{% static 'placeholder.png' %}" height="440" width="640">
        </div>
        <div class="col">

        </div>
    </div>

    <div class="row">
        <div class="col">

        </div>
        <div class="col-9">
            <b style="font-size:27px">
                IN THE CAPTIVATING WORLD OF 'MAP MANIA' PLAYERS ARE INVITED TO TEST THEIR GEOGRAPHICAL KNOWLEDGE AND INTUITION. THE GAME BEGINS BY 
                PRESENTING BEAUTIFUL PHOTOS OF A FAMOUS  LANDMARK OR PARK FROM AROUND THE WORLD TO THE PLAYER. THESE CAPTIVATING IMAGES PROVIDE THEM
                WITH A VISUAL GLIMPSE OF THE LOCATION THEY WILL NEED TO IDENTIFY.
            </b>
        </br>
            <b style="font-size:27px">
                THEN THE CHALLENGE BEGINS. PLAYERS ARE TRANSPORTED TO A GLOBAL GEOGRAPHICAL MAP AND THEIR TASK IS TO LOCATE THE EXACT POSITION OF 
                THE LANDMARK IN QUESTION. THE EXCITING TWIST IS THAT PLAYERS HAVE NO ADDITIONEL INFORMATION TO GUIDE THEM. IT ALL RELIES ON THEIR 
                ABILITY TO MEMORIZE THE PHOTO AND ESTIMATE THE LOCATION ACCURATELY: 
            </b>
        </div>
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}