{% extends "base_generic.html" %}
{% block content %}
  <!--  for the play-button logo -->
  <section class="main-page py-5">
    <div class="container">
        <div class="row">
            <div align="center">
                {% load static %}
                <img src="{% static 'Map_Mania_Logo.png' %}" alt="" style="width:500px; height:auto" class="img-thumbnail"/>
            </div>
        </div>
    </div>
</section>

<!--  for the text -->
<div class="container">
    <div class="row">
        <p>In the captivating world of 'MapMania,' players are invited to test their geographical knowledge and intuition. The game begins by presenting users with a beautiful photo of a famous landmark or park from around the world. These captivating images provide them with a visual glimpse of the location they will need to identify.
            Then, the challenge begins. Players are transported to a global geographical map, and their task is to point on the map the precise location of the landmark or park they've just seen in the photo. The exciting twist is that players have no additional information to guide them. It all relies on their ability to memorize the photo and estimate the location accurately.</p>
    </div>
</div>
{% endblock %}