{% extends "base_generic.html" %}
{% block content %}
  <!--  for the play-button logo -->
  <section class="main-page py-5">
    <div class="container">
        <div class="row">
            <div align="center">
                {% load static %}
                <img src="{% static 'Map_Mania_Logo.png' %}" alt="" style="width:500px; height:auto" class="img-thumbnail"/>
            </div>
        </div>
    </div>
</section>

<!--  for the text -->
<div class="container">
    <div class="row">
        <p>Welcome to our special game project called MapMania!</p>
        <p>In this game we challenge your knowledge about sightseeing spots from all around the world!</p>
        <p>When you start a new round by navigating to “Startgame” in the navigation bar, you will see two things:</p>
        <p>On the left side of the screen you will have four pictures of a certain sightseeing spot to show you what location you need to search for.</p>
        <p>On the right side you are able to roam around a map with no clues regarding borders, city names or anything that could give away the answer too easily.</p>
        <p>As you might have guessed, you have to find that certain spot on the map, confirm your guess and collect points if you were close enough in the end!</p>
        <p>After playing some rounds you have the chance to compare yourself to other players by navigating to the “Leaderboard” and play more rounds to potentially work your way up to the top rank.</p>
        <p>And now try to prove your knowledge and collect as many points as you can!</p>
    </div>
</div>
{% endblock %}