{% extends "base_generic.html" %}

{% block content%}

{% load django_template_maths %}

<div class="container">
    <div class="row">
        <div class="col" align="center">
            <h2>Username</h2>
        </div>
        <div class="col" align="center">
            <h2>Games Played</h2>
        </div>
        <div class="col" align="center">
            <h2>Sum of Points</h2>
        </div>
        <div class="col" align="center">
            <h2>Average Points per Game</h2>
        </div>
    </div>
    {% for user in users %}
    <div class="row">
        <div class="col" align="center">
            {{user.username}}
        </div>
        <div class="col" align="center">
            {{user.number_of_games_played}}
        </div>
        <div class="col" align="center">
            {{user.sum_of_points}}
        </div>
        <div class="col" align="center">
            {{user.sum_of_points|div:user.number_of_games_played|floatformat:2}}
        </div>
    </div>
    {% endfor %}
</div>




{% endblock %}