{% extends "base_generic.html" %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block content%}

{% load django_template_maths %}

<section class="table-boot py-5">
    <div class="container" style="max-width:30%">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Profile of:</th>
                <td>{{request.user.username}}</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Number of Games Played:</th>
                <td>{{request.user.number_of_games_played}}</td>
              </tr>
              <tr>
                <th>Sum of Points:</th>
                <td>{{request.user.sum_of_points}}</td>
              </tr>
              <tr>
                <th>Average Points per Game:</th>
                <td>
                  <script>
                    var sum = {{request.user.sum_of_points}};
                    var games = {{request.user.number_of_games_played}};
                    var avg = sum/games;
                    if (isNaN(avg)) {
                      avg = 0;
                    }
                    document.write(avg.toFixed(2));
                  </script>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</section>
{% endblock %}